:global(:root) {
	--side-page: 14vw;
	--top-offset: 1rem;
	--side-nav: 1rem;
	--code-fs: 1.3rem;
	--h6: 1rem;
	--h5: 1.2rem;
	--h4: 1.4rem;
	--h3: 1.6rem;
	--h2: 1.8rem;
	--h1: 3rem;
	--linemax: 42em;
	--lh: 1.5;
	--back: #ffffff;
	--back-light: #282c34;
	--back-api: #eff8ff;
	--prime: #ff3e00;
	--second: #676778;
	--flash: #039be5;
	--heading: var(--second);
	--text: #444;
	--sidebar-text: rgba(255, 255, 255, 0.75);
	--border-w: 0.1rem;
	--border-r: 0.2rem;
}

:global(h1, h2, h3, h4, h5, h6) {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
	font-size: 2em;
}

:global(a) {
	color: inherit;
}

:global(div[class*='language-']) {
	position: relative;
	background-color: #282c34;
	border-radius: 6px;

	&::before {
		position: absolute;
		z-index: 3;
		top: 0.8em;
		right: 1em;
		font-size: 0.75rem;
		color: hsla(0, 0%, 100%, 0.4);
	}
}

:global(code) {
	border-radius: 2px;
	font-size: 0.9em;
}

:global(pre) {
	background: transparent;
	position: relative;
	z-index: 1;
}

:global(pre[class*='language-']) {
	background: transparent;
	position: relative;
	z-index: 1;
}

:global(div[class~='language-js']) {
	&::before {
		content: 'js';
	}
}

:global(div[class~='language-abs']) {
	&::before {
		content: 'abs';
	}
}

:global(div[class~='language-rabs']) {
	&::before {
		content: 'rabs';
	}
}

:global(div[class~='language-rust']) {
	&::before {
		content: 'rust';
	}
}

:global(.no-underline) {
	text-decoration: none;
}

:global(blockquote) {
	border-left: 3px solid #b2b2b7;
	margin: 16px 32px 16px 0;
	padding-left: 32px;

	@media (min-width: 800px) {
		margin-right: 48px;
		padding-left: 48px;
	}
}

:global(.header-anchor) {
	text-decoration: none;

	&::before {
		position: absolute;
		left: 32px;
		text-decoration: none;
		opacity: 0;
		transition: opacity 0.2s ease-out;
		content: '#';
	}

	&:hover::before {
		opacity: 1;
	}
}

:hover {
	> :global(.header-anchor) {
		opacity: 1;
	}
}

@media (min-width: 800px) {
	:global(:root) {
		--side-nav: 2rem;
	}
}
